{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    <div  class="pull-left" id="bar" style="width:1000px; height:600px;"></div>
    <div  class="pull-right" id="scatter" style="width:1000px; height:600px;"></div>
    </div>
    <script>
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
        var scatter = echarts.init(document.getElementById('scatter'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchData(chart);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/bar",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result.data);
                }
            });
        }

         $(
            function () {
                fetchData2(scatter);
            }
        );

        function fetchData2() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/demo/scatter",
                dataType: 'json',
                success: function (result) {
                    scatter.setOption(result.data);
                }
            });
        }

    </script>



{% endblock %}