{% extends 'base.html' %}
{% load static %}


{% block css %}

    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css"
    rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

    {{ script |safe }}
{% endblock %}
{% block content %}

{{ div |safe }}

{% endblock %}